@charset "utf-8";

$primary: hsl(171, 100%, 41%);
$success: hsl(141, 53%, 53%);
$danger: hsl(348, 100%, 61%);
$link: $primary;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-dashboard/src/bulma-dashboard.sass"

.column-card
  min-height: 100% !important

.Toastify__toast--success
  border-radius: 5px
  padding: 10px
  background-color: $success
  color: #fff

.Toastify__toast--error
  border-radius: 5px
  padding: 10px
  background-color: $danger
  color: #fff 

.nickname
  text-transform: capitalize

.hero-gradient
  background-image: url('/herobackground.png') !important
  background-size: cover

td 
  width: 50%
