@charset "utf-8";

$primary: hsl(171, 100%, 41%);
$success: hsl(141, 53%, 53%);
$danger: hsl(348, 100%, 61%);
$link: $primary;

$tooltip-background-opacity: 1;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-pricingtable/src/sass/index.sass"
@import "../../node_modules/bulma-tooltip/src/sass/index.sass"

.is-fullheight
  height: calc(100% - 150px) !important;

.is-scrollable-x
  height: auto;
  overflow-x: scroll

.Toastify__toast--success
  border-radius: 5px
  padding: 10px
  background-color: $success
  color: #fff

.Toastify__toast--error
  border-radius: 5px
  padding: 10px
  background-color: $danger
  color: #fff 

.hero-gradient
  background-image: url('/herobackground.png') !important
  background-size: cover

.board-column
  min-width: 300px;

.is-size-6-7
  font-size: 0.85rem;

td 
  width: 50%

#root
  overflow-x: hidden;
