@charset "utf-8";

$primary: hsl(171, 100%, 41%);
$success: hsl(141, 53%, 53%);
$danger: hsl(348, 100%, 61%);
$link: $primary;

$tooltip-background-opacity: 1;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-pricingtable/src/sass/index.sass"
@import "../../node_modules/bulma-calendar/src/sass/index.sass"
 
.is-fullheight
  height: calc(100% - 150px) !important;

.above-footer
  min-height: calc(100vh - 220px) !important;

.board-column
  min-height: 385px;

.column.is-vcentered 
  display: flex
  flex-wrap: wrap
  align-content: center
  align-items: center 


.Toastify__toast--success
  border-radius: 5px
  padding: 10px
  background-color: $success
  color: #fff

.Toastify__toast--error
  border-radius: 5px
  padding: 10px
  background-color: $danger
  color: #fff 

.hero-gradient
  background-image: url('/herobackground.png') !important
  background-size: cover

.is-size-6-7
  font-size: 0.85rem;

.is-50-td 
  width: 50%;

.tag
  text-decoration: none !important;

body
  overflow: hidden;

.datetimepicker-clear-button
  display: none;

.datetimepicker-dummy-input
  max-width: 100% !important;
  font-size: 0.75rem !important;

.datetimepicker-dummy-wrapper
  border: 1px solid #dbdbdb !important;
  border-radius: 4px !important;
  &:hover
    border: 1px solid #b5b5b5 !important;

.is-half-vh
  max-height: 50vh !important;

.is-quarter-vh
  max-height: 25vh !important;
