.column-card {
  min-height: 100% !important;
}

.Toastify__toast--success {
  border-radius: 5px;
  padding: 10px;
  background-color: #2ecc71;
  color: #fff
}

.Toastify__toast--error {
  border-radius: 5px;
  padding: 10px;
  background-color: #e74c3c;
  color: #fff
}

.nickname {
  text-transform:capitalize;
}

.hero-gradient {
  background-image: url('/herobackground.png') !important;
  background-size: cover;
}
